<!-- /src/app/home/home.component.html -->>
<main>
    <section class="banners">
        <div>
            <img src='/assets/images/bubbles.jpg' alt="Blowing Bubbles print" />
        </div>
        <div>
            <img src='assets/images/cheetah.jpg' alt="Burning House drawing" />
        </div>
        <div>
            <img src='assets/images/collect.jpg' alt="Calling Collect paining" />
        </div>
        <div>
            <img src='assets/images/dollar.jpg' alt="Your God dollar print" />
        </div>
        <div>
            <img src='assets/images/libertalia.jpg' alt="Libertalia painting" />
        </div>
    </section>
    <section class="product-area">
        <!-- TODO: Create product list component -->
    </section>
</main>
