<!-- /src/app/home/home.component.html -->
<main>
    <section class="banners">
        <div>
            <img src='/assets/images/bubbles.jpg' alt="Blowing Bubbles print" />
        </div>
        <div>
            <img src='/assets/images/cheetah.jpg' alt="Burning House drawing" />
        </div>
        <div>
            <img src='/assets/images/collect.jpg' alt="Calling Collect painting" />
        </div>
        <div>
            <img src='/assets/images/dollar.jpg' alt="Your God dollar print" />
        </div>
        <div>
            <img src='/assets/images/libertalia.jpg' alt="Libertalia painting" />
        </div>
    </section>
    <section class="product-area">
        <app-product-list [arts]="items"></app-product-list>
    </section>
</main>
